<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 수정</title>
    <link rel="stylesheet" href="/webapp/css/board.css">
    
    <style>
        .layout {
            width: 500px;
            margin: 0 auto;
            margin-top: 40px;
        }

        .layout input {
            width: 100%;
            box-sizing: border-box;
        }

        .layout textarea {
            width: 100%;
            margin-top: 10px;
            min-height: 300px;
        }
    </style>
</head>

<body>
<div id="container" th:fragment="container">
        <header id="header">
            <div class="logo">
                <a id="logo" th:href="@{링크 주소}">
                    <img th:src="@{/webapp/img/ground.png}" alt="로고" width="40" height="40">
                    <h1>Ground</h1>
                </a>
            </div>
            <form th:action="@{/hello}" class="search">
                <div class="search-bar">
                    <input type="text" placeholder="검색어 입력" id="sch-bar">
                    <button id="btn1" type="submit">검색</button>
                </div>
            </form>
        </header>
    </div>
		<aside id="left-sidebar">
	    <table>
	        <tr>
	            <td colspan="2">
	                <img th:src="@{/webapp/img/ground.png}" alt="" width="100px" style="border-radius: 50%;">
	            </td>
	        </tr>
	        <tr>
	            <td colspan="2">닉네임</td>
	        </tr>
	        <tr>
	            <td colspan="2">상태 메시지</td>
	        </tr>
	        <tr>
	            <td><a th:href="@{/index}">팔로우</a></td>
	            <td><a th:href="@{/index}">팔로잉</a></td>
	        </tr>
	        <tr>
	            <td><a th:href="@{/index}">123,456</a></td>
	            <td><a th:href="@{/index}">123,456</a></td>
	        </tr>
	        <tr id="side-menu">
	            <td colspan="2"><a th:href="@{/board/list}"><img class="ic-search" th:src="@{/webapp/img/ic-search.svg}">My home</a></td>
	        </tr>
	        <tr id="side-menu">
	            <td colspan="2"><a th:href="@{/hello}"><img class="ic-search" th:src="@{/webapp/img/ic-search.svg}">Main</a></td>
	        </tr>
	        <tr id="side-menu">
	            <td colspan="2"><a th:href="@{/index}"><img class="ic-search" th:src="@{/webapp/img/ic-search.svg}">챗봇</a></td>
	        </tr>
	        <tr id="side-menu">
	            <td colspan="2"><a th:href="@{/index}"><img class="ic-search" th:src="@{/webapp/img/ic-search.svg}">개인정보수정</a></td>
	        </tr>
	    </table>
		</aside>
	<div class="layout">
	    <form th:action="@{/board/update/{id}(id=${post.postId})}" method="post" enctype="multipart/form-data">
	        <input name="title" type="text" th:value="${post.title}">
	        <textarea name="cntent" th:text="${post.cntent}"></textarea>
	        <input name="hash_tag" type="text" th:value="${post.hash_tag}">
	        <img th:src="${post.img_path}" class="post-image" style="width: 100px; height:100px;">
	        <input name="file" type="file" multiple />
	        <button type="submit">수정</button>
	    </form>
	</div>
</body>
</html>
